
<div class="chat-header {{class}}">
    <div class="chat-header__image">
        <img src="{{photo}}" height="48px" width="48px" />
    </div>
    <div class="chat-header__content">
        <div class="chat-header__title">{{ title }}</div>
        {{> ButtonIcon type="icon" src="src/assets/menu.svg" class="chat-header__button" height="24px" width="24px"}}
    </div>
</div>
