
<div class="search">
    <div class="search__content">
        <div class="search__title">Контакты</div>
        {{> ButtonIcon type="icon" src="src/assets/pluse.svg" class="search__button" height="24px" width="24px"}}
    </div>
    <input
        class="search__input"
        placeholder="Поиск"
    />
</div>
