<div class="chat-tab">
  {{> ChatHeader photo="src/assets/ac3.png" title="Ангелина" class="chat-tab__header"}}
  <div class="chat-tab__content">
    <div class="chat-tab__date">22 декабря</div>
    <div class="message message__incoming">
      <div class="message__text">
        <p>Какое-то входящее сообщение</p>
        <p>Какое-то входящее сообщение</p>
      </div>
      <img src="src/assets/photo.jpg" alt="Картинка">
      <div class="message__time">11:58</div>
    </div>
    <div class="message message__incoming">
      <img src="src/assets/photo.jpg" alt="Картинка">
      <div class="message__time">11:58</div>
    </div>
    <div class="message message__outgoing">
      <div class="message__text">
        <p>Какое-то исходящее сообщение</p>
      </div>
      <div class="message__time">11:59</div>
    </div>
  </div>
  <div class="chat-tab__footer">
    {{> ButtonIcon type="primary" src="src/assets/clip.svg" class="button__circle button_clip"}}
    <input
        class="chat-tab__input"
        placeholder="Сообщение"
        name="message"
    />
    {{> ButtonIcon type="primary" src="src/assets/arrow.svg" class="button__circle button_grey"}}
  </div>
</div>