<div class="profile">
    <div class="profile__buttons">
        {{> ButtonIcon type="primary" src="src/assets/arrow.svg" class="button__circle button_grey" page="chat"}}
    </div>
    <div class="profile__content">
        <div class="profile__block">
            <div class="profile__photo photo">
                <img src="src/assets/acMain.png" height="100px" width="100px" alt="Картинка"/>
            </div>
            {{#> Form}}
                {{> Input label="Старый пароль" value="qwerty" type="password" name="oldPassword"}}
                {{> Input label="Новый пароль" value="qwerty11" type="password" name="newPassword"}}
                {{> Input label="Повторите новый пароль" value="qwerty11" type="password" name="newPassword"}}
                {{> Button label="Сохранить" type="primary" page="profile"}}
            {{/Form}}
        </div>
    </div>
</div>